@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .lyt-Body {

    // Header

    .hd-Header_Inner,
    .hd-Header_Body,
    .hd-Header_Items {
      height: 100%;
    }

    // Icon
    .ico-Logo {
      height: 100px;
      transition: width .3s ease transform .3s ease;

      .utl-HeaderScrolled & {
        height: 60px;
        transform: scale(1.25) translateY(7px);
      }
    }

    .ico-Logo_Text {
      .utl-HeaderScrolled & {
        opacity: 0;
        visibility: hidden;
      }
    }

    // Layout

    .lyt-Primary {
      @include break-min($sm) {
        .lyt-Container-hasSidebar & {
          width: 74.35%;
          flex: 0 0 74.35%;
        }
      }
    }

    // Blocks

    // Top Level Landing Page Intro

    .blk-Intro_Column {
      @include break-min($sm) {
        width: 49.35%;
        flex: 0 0 49.35%;
      }
    }

    // Text Image Columns

    .blk-TextImage_Column {
      @include break-min($sm) {
        width: 49.35%;
        flex: 0 0 49.35%;
      }
    }

    // Case Study Stats
    .cst-Stats {
      @include break-min($md) {
        margin-left: auto;
        margin-right: auto;
      }
      @include break-min($lg) {
        @include ignore-restrained-width;
      }
    }

  }
}
