.crd-Blog {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  position: relative;
}

.crd-Blog_Badge {
  position: absolute;
  top: $grid-gap;
  left: $grid-gap;
  z-index: 1;
  font-size: 11px;
  background-color: $color-grey-text;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 2px 8px 4px;
  margin-right: $grid-gap;
  font-weight: 500;
  line-height: 1;
}

.crd-Blog_Image {
  position: relative;
  padding-bottom: 75%;
  overflow: hidden;

  img {
    @include absolute_fill;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    transition: transform .5s ease;
    will-change: transform;

    .crd-Blog:hover & {
      transform: scale(1.05);
    }
  }
}

.crd-Blog_Body {
  background-color: $color-light-grey;
  flex: 1;
  display: flex;
}

.crd-Blog_Content {
  position: relative;
  padding: $grid-gap $grid-gap #{$grid-gap * 3};
  flex: 1;
}

.crd-Blog_Details {
  font-size: 10px;
  margin-bottom: 5px;
  color: $color-grey-text;
}

h3.crd-Blog_Title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: $grid-gap;
}

p.crd-Blog_Link {
  position: absolute;
  bottom: $grid-gap;
  left: $grid-gap;
  margin-bottom: 0;
  font-size: 14px;
  color: $color-grey-text;
  font-weight: 500;
}

a.crd-Blog_FauxLink {
  @include absolute_fill;
  z-index: 2;
}
