.crd-Family {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  position: relative;
}

.crd-Family_Badge {
  position: absolute;
  top: $grid-gap;
  left: $grid-gap;
  z-index: 1;
  font-size: 11px;
  background-color: $color-grey-text;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 2px 8px 4px;
  font-weight: 500;
  line-height: 1;
}

.crd-Family_Image {
  position: relative;
  padding-bottom: 75%;
  overflow: hidden;

  img {
    @include absolute_fill;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    transition: transform .5s ease;
    will-change: transform;

    .crd-Family:hover & {
      transform: scale(1.05);
    }
  }
}

.crd-Family_Body {
  background-color: $color-light-grey;
  flex: 1;
  display: flex;
}

.crd-Family_Content {
  position: relative;
  padding: $grid-gap;
  flex: 1;
}

h3.crd-Family_Title {
  font-size: 14px;
  font-weight: 500;
}

p.crd-Family_Members {
  color: $color-grey-text;
  font-size: 14px;
  margin-bottom: 0;

  svg {
    width: 14px;
    display: inline-block;
    margin-right: 5px;
  }
}
