.crd-Team {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  position: relative;
  background-color: $color-primary;
}

.crd-Team_Badge {
  position: absolute;
  top: $grid-gap;
  left: $grid-gap;
  z-index: 1;
  font-size: 11px;
  background-color: $color-grey-text;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 2px 8px 4px;
  margin-right: $grid-gap;
  font-weight: 500;
  line-height: 1;
}

.crd-Team_Image {
  position: relative;
  padding-bottom: 75%;
  overflow: hidden;

  img {
    @include absolute_fill;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    transition: transform .5s ease;
    will-change: transform;
    backface-visibility: hidden;

    .crd-Team:hover & {
      transform: scale(1.05);
    }
  }
}

.crd-Team_Body {
  flex: 1;
  display: flex;
}

.crd-Team_Content {
  position: relative;
  padding: $grid-gap;
  flex: 1;
  color: #fff
}

h3.crd-Team_Title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #fff;
  line-height: 1;
}

p.crd-Team_JobTitle {
  font-size: 14px;
  margin-bottom: 0;
}

p.crd-Team_Bio,
p.crd-Team_Email,
p.crd-Team_Location {
  display: none;
}

a.crd-Team_FauxLink {
  @include absolute_fill;
  z-index: 2;
}
