//-------------------------------------------------
// Break Points
//-------------------------------------------------

@mixin break-min($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin break-min-max($min, $max) {
  @media screen and (min-width: $min) and (max-width: ($max)) {
    @content;
  }
}

@mixin break-max($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

//-------------------------------------------------
// Spacer
//-------------------------------------------------

@mixin spacer {
  margin-top: 25px;
  margin-bottom: 25px;

  @include break-min($sm) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include break-min($md) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@mixin spacer_small {
  margin-top: 25px;
  margin-bottom: 25px;

  @include break-min($sm) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @include break-min($md) {
    margin-top: 55px;
    margin-bottom: 55px;
  }
}

@mixin spacer_body {
  padding-top: 25px;
  padding-bottom: 25px;

  @include break-min($sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include break-min($md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@mixin spacer_body_small {
  padding-top: 25px;
  padding-bottom: 25px;

  @include break-min($sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include break-min($md) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

//-------------------------------------------------
// Inner
//-------------------------------------------------

@mixin inner {
  max-width: $global-inner + ($gutter * 2);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $grid-gap;
  padding-left: $grid-gap;

  @include break-min($md) {
    padding-right: $gutter;
    padding-left: $gutter;
  }
}

// max-width: $global-inner;
// width: 100%;

@mixin inner_padding {
  padding-right: $grid-gap / 2;
  padding-left: $grid-gap / 2;

  @media screen and (min-width: 600px) {
    padding-right: $grid-gap;
    padding-left: $grid-gap;
  }
}

//-------------------------------------------------
// Typography
//-------------------------------------------------

@mixin heading {
  font-family: $font-heading;
  color: $color-headings;
  margin-bottom: $grid-gap;
}

@mixin h1 {
  font-size: 60px;
  line-height: 70px;
}

@mixin h2 {
  font-size: 34px;
  line-height: 40px;

  @include break-min($sm) {
    font-size: 40px;
    line-height: 48px;
  }
}

@mixin h3 {
  font-size: 28px;
  line-height: 32px;

  @include break-min($sm) {
    font-size: 32px;
    line-height: 36px;
  }
}

@mixin h4 {
  font-size: 20px;
  line-height: 22px;

  @include break-min($sm) {
    font-size: 22px;
    line-height: 24px;
  }
}

@mixin h5 {
  font-size: 16px;
  line-height: 18px;
}

@mixin h6 {
  font-size: 14px;
  line-height: 16px;
}

@mixin paragraph {
  color: inherit;
  margin-bottom: 15px;
}

//-------------------------------------------------
// Animations
//-------------------------------------------------

@mixin underline_on_hover {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: currentColor;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease, visibility .5s ease;
  }

  &:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

@mixin fade_in {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
}

@mixin fade_in_left {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-30px);
}

@mixin fade_in_right {
  opacity: 0;
  visibility: hidden;
  transform: translateX(30px);
}

@mixin faded_in {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

@mixin faded_in_transitions($quantity) {
  @for $i from 1 through $quantity {
    &:nth-child(#{$i}) {
      transition-delay: $i * 0.25s;
    }
  }
}

//-------------------------------------------------
// Buttons
//-------------------------------------------------

@mixin button {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  font-family: $font-body;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  text-decoration: none !important;
  text-align: center;
  z-index: 0;
  padding: 12px 24px;
  margin: 12px 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease,
    border-color 0.35s ease;
}

@mixin button_wider {
  padding-right: 30px !important;
  padding-left: 30px !important;

}

@mixin button_primary {
  @include button;
  color: #fff !important;
  background-color: $color-primary !important;
  border-color: $color-primary !important;

  &:hover {
    color: $color-primary !important;
    border-color: $color-primary !important;
    background-color: transparent !important;
  }
}

@mixin button_primary_light {
  @include button;
  color: #fff !important;
  background-color: $color-primary-light !important;
  border-color: $color-primary-light !important;

  &:hover {
    color: #fff !important;
    border-color: $color-primary !important;
    background-color: $color-primary !important;
  }
}

@mixin button_secondary {
  @include button;
  color: $color-primary !important;
  border-color: $color-primary !important;
  background-color: transparent !important;

  &:hover {
    color: #fff !important;
    background-color: $color-primary !important;
    border-color: $color-primary !important;
  }
}

@mixin button_filter {
  @include button;
  color: $color-secondary !important;
  border-color: $color-mid-grey !important;
  background-color: $color-mid-grey !important;

  &:hover {
    border-color: $color-secondary !important;
    background-color: transparent !important;
  }
}

@mixin button_ghost {
  @include button;
  color: #fff !important;
  border-color: #fff !important;
  background-color: rgba(0,0,0,0.3) !important;

  &:hover {
    color: $color-primary !important;
    border-color: #fff !important;
    background-color: #fff !important;
  }
}

@mixin button_accent {
  @include button;

  color: $color-secondary !important;
  border-color: $color-accent !important;
  background-color: $color-accent !important;

  &:hover {
    color: $color-secondary !important;
    border-color: darken($color-accent, 20%) !important;
    background-color: darken($color-accent, 20%) !important;
  }
}

//-------------------------------------------------
// Sections
//-------------------------------------------------

@mixin section_header {
  text-align: center;
  margin-bottom: #{$grid-gap * 2};

  @include break-min($sm) {
    margin-bottom: #{$grid-gap * 3};
  }
}

@mixin section_header_small {
  text-align: center;
  margin-bottom: #{$grid-gap * 2};

  @include break-min($sm) {
    margin-bottom: #{$grid-gap * 1};
  }
}

@mixin section_header_large {
  text-align: center;
  margin-bottom: #{$grid-gap * 2};

  @include break-min($sm) {
    margin-bottom: #{$grid-gap * 5};
  }
}

@mixin section_title {
  @include h3;
  margin: 0;
}

//-------------------------------------------------
// Utilities
//-------------------------------------------------

@mixin absolute_fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin no_margin_padding {
  margin: 0;
  padding: 0;
}

@mixin no_bullets {
  list-style: none;
}

@mixin object_fit_cover {
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

@mixin object_fit_contain {
  object-fit: contain;
  font-family: 'object-fit: contain;';
}

@mixin restrain_width {
  @include break-min($md) {
    max-width: $restrained-width;
    margin-right: auto;
    margin-left: auto;
  }
}

@mixin ignore_restrained_width {
  @include break-min($md) {
    margin-left: calc((-100vw / 2 + #{$restrained-width / 2}) + #{$gutter});
    margin-right: calc((-100vw / 2 + #{$restrained-width / 2}) + #{$gutter});
  }
}

@mixin ignore_restrained_width_and_gutters {
  margin-left: -#{$grid-gap};
  margin-right: -#{$grid-gap};

  @include break-min($md) {
    margin-left: calc(-100vw / 2 + #{$restrained-width / 2});
    margin-right: calc(-100vw / 2 + #{$restrained-width / 2});
  }
}

@mixin screen_reader_only {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
