.drw-Drawer {
  width: 450px;
  max-width: 80%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 24;
  background-color: $color-primary;
  color: #fff;
  display: flex;
  // transform: translateX(-500px);
  transition: transform 0.3s ease;
  height: 100%;

  &[data-drawer="menu"] {
    left: auto;
    right: 0;
    // transform: translateX(500px);
  }

  .logged-in.admin-bar & {
    max-height: calc(100% - 32px);
    top: 46px;
    @include break-min(783px) {
      top: 32px;
    }
  }

  &.drw-Drawer-active {
    transform: translateX(0);
  }
}

.drw-Drawer_Inner {
  padding-right: $grid-gap;
  padding-left: $grid-gap;

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.drw-Drawer_Close {
  position: absolute;
  top: $grid-gap;
  right: $grid-gap;
  width: 24px;
  height: 24px;
  display: block;
  padding: 0;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;

  svg {
    fill: $color-border-light;
  }
}

.drw-Drawer_Header {
  height: $drawerHeaderHeight;
  padding-top: calc(80px + #{$grid-gap * 2});
  border-bottom: 1px solid $color-border-light;
}

.drw-Drawer_Body {
  position: absolute;
  top: $drawerHeaderHeight;
  right: 0;
  bottom: $grid-gap;
  left: 0;
  overflow-y: auto;
  max-height: calc(100% - #{$drawerHeaderHeight} - #{$grid-gap * 2});
}

.drw-Drawer_Nav {
  width: 100%;
}

.drw-Drawer_Logo {
  position: absolute;
  top: $grid-gap;
  left: $grid-gap;
  width: 80px;
  height: 80px;
  svg {
    fill: #fff;
  }
}

.drw-Drawer_Button {
  @include button_accent;
  width: 100%;
  font-size: 22px;
  margin: 0 0 $grid-gap;
}
