.drw-Drawer {
  width: 450px;
  max-width: 80%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 24;
  background-color: $color-primary;
  color: #fff;
  display: flex;
  transform: translateX(500px);
  transition: transform 0.3s ease;
  height: 100%;
  padding-top: $grid-gap;
  padding-bottom: $grid-gap;

  &[data-drawer="filter"] {
    right: auto;
    left: 0;
    transform: translateX(-500px);
    background-color: #fff;
    color: $color-secondary;
  }

  .logged-in.admin-bar & {
    max-height: calc(100% - 32px);
    top: 46px;
    @include break-min(783px) {
      top: 32px;
    }
  }

  &.drw-Drawer-active {
    transform: translateX(0);

    @include break-min($md) {
      transform: translateX(500px);

      &[data-drawer="filter"] {
        transform: translateX(-500px);
      }
    }
  }
}

.drw-Drawer_Inner {
  padding-right: $grid-gap;
  padding-left: $grid-gap;

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.drw-Drawer_Close {
  position: absolute;
  top: 0;
  right: $grid-gap;
  width: 24px;
  height: 24px;
  display: block;
  padding: 0;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;

  [data-drawer="menu"] & {
    svg {
      color: #fff;
    }
  }
}

.drw-Drawer_Header {
  border-bottom: 1px solid $color-border-light;

  [data-drawer="menu"] & {
    height: $menuDrawerHeaderHeight;
    padding-top: 80px;
  }
  [data-drawer="filter"] & {
    height: $filterDrawerHeaderHeight;
  }
}

h3.drw-Drawer_Title {
  margin-bottom: 0;
}

.drw-Drawer_Body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: $grid-gap;
  left: $grid-gap;
  overflow-y: auto;
  padding-right: $grid-gap;

  [data-drawer="menu"] & {
    max-height: calc(100% - #{$menuDrawerHeaderHeight});
    top: $menuDrawerHeaderHeight;
  }
  [data-drawer="filter"] & {
    max-height: calc(100% - #{$filterDrawerHeaderHeight} - #{$filterDrawerFooterHeight});
    top: $filterDrawerHeaderHeight;
  }
}

.drw-Drawer_Footer {
  [data-drawer="filter"] & {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-light-grey;
    max-width: 100%;
  }
}

.drw-Drawer_Nav {
  width: 100%;
}

a.drw-Drawer_Logo {
  display: block;
  position: absolute;
  top: 0;
  left: $grid-gap;
  width: 80px;
  height: 80px;
  svg {
    fill: #fff;
  }
}

.drw-Drawer_Button,
.drw-Drawer_Submit {
  @include button_accent;
  margin-top: $grid-gap;
  margin-bottom: 0;
  font-size: 22px;
  width: 100%;
  [data-drawer="filter"] & {
    max-width: calc(100% - #{$grid-gap * 2});
    margin: $grid-gap;
    font-size: 18px;
    border: 1px solid $color-secondary !important;
  }
}
