.lyt-Main {
  padding-top: 122px;

  // .admin-bar & {
  //   padding-top: 125px;
  // }
}

.lyt-Container {
  @include break-min($sm) {
    display: flex;
  }
}

.lyt-Container_Inner {
  @include inner;
  @include break-min($sm) {
    display: flex;
    justify-content: space-between;
  }
}

.lyt-Primary {
  padding-top: 75px;
  padding-bottom: 75px;

  flex: 1 1 auto;

  .home & {
    padding-top: 0;
  }

  .lyt-Container-hasSidebar & {
    flex: 0 0 calc(75% - #{$grid-gap / 2});
  }
}

h2.lyt-Primary_Title {
  font-size: 22px;
}

.lyt-Sidebar {
  padding-top: $grid-gap;

  @include break-min($sm) {
    padding-top: 75px;
    flex: 0 0 calc(25% - #{$grid-gap / 2});
  }
}

.lyt-Entry_Items {
  margin: $grid-gap -#{$grid-gap} $grid-gap 0;
  display: flex;
  flex-wrap: wrap;
}

.lyt-Entry_Item {
  display: flex;
  flex: 0 0 calc(((1 / 3) * 100%) - #{$grid-gap});
  list-style: none;
  margin-right: $grid-gap;
  margin-bottom: $grid-gap;

  .lyt-Entry_Items.has-2-columns & {
    @include break-min($xs) {
      flex: 0 0 calc(50% - #{$grid-gap});
      margin-right: $grid-gap;
    }
  }
}

.lyt-Footer {
  color: #fff;
}

.lyt-Footer_Inner {
  @include inner;
}

.lyt-Footer_Body {
  padding-top: $grid-gap;
  padding-bottom: $grid-gap;
  background-color: $color-footer;
}

.lyt-Footer_Footer {
  padding-top: $grid-gap;
  padding-bottom: $grid-gap;
  background-color: $color-primary-dark;
}
