.lyt-Main {
  padding-top: 120px;

  // .admin-bar & {
  //   padding-top: 125px;
  // }
}

.lyt-Container {
  overflow: hidden;

  @include break-min($sm) {
    display: flex;
  }
}

.lyt-Container_Inner {
  @include inner;
  @include break-min($sm) {
    display: flex;
    justify-content: space-between;
  }
}

.lyt-Primary {
  @include break-min($sm) {
    flex: 1 1 auto;

    .lyt-Container-hasSidebar & {
      flex: 0 0 calc(((9 / 12) * 100%) - #{$grid-gap / 2});
    }
  }
}

.lyt-Primary_Header {
  margin-top: #{$grid-gap * 2};
  margin-bottom: #{$grid-gap * 2};

  @include break-min($sm) {
    margin-top: #{$grid-gap * 3};
    margin-bottom: #{$grid-gap * 3};
  }
}

h2.lyt-Primary_Title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;

  @include break-min($sm) {
    text-align: center;
  }
}

.lyt-Primary_Body {
  @include spacer_small;

  .lyt-Primary-archive & {
    margin-top: 0;
    margin-bottom: #{$grid-gap * 2};
  }

  .error-404 & {
    @include spacer;
  }

  .lyt-Primary-single & {
    margin-top: 25px;
  }

  @include break-min($sm) {
    .home & {
      margin-top: 0;
      margin-bottom: 0;
    }
    .lyt-Primary-archive & {
      @include spacer_small;
    }
  }
}

.lyt-Sidebar {
  padding-top: $grid-gap;

  @include break-min($sm) {
    padding-top: 55px;
    padding-bottom: 55px;
    flex: 0 0 calc(((3 / 12) * 100%) - #{$grid-gap / 2});
  }
}

.lyt-Entry_Items {
  margin: $grid-gap 0 -#{$grid-gap};
  display: flex;
  flex-wrap: wrap;

  @include break-min($sm) {
    margin-top: 0;
  }
  @include break-min($sm) {
    margin-right: -#{$grid-gap};
  }
}

.lyt-Entry_Item {
  list-style: none;
  margin-bottom: $grid-gap;
  width: 100%;
  // flex: 0 0 calc(((1 / 2) * 100%) - #{$grid-gap});

  @include break-min($xs) {
    display: flex;
    margin-right: $grid-gap;
    flex: 0 0 calc(((1 / 3) * 100%) - #{$grid-gap});
  }
}

.lyt-Footer {
  color: #fff;
}

.lyt-Footer_Inner {
  @include inner;
}

.lyt-Footer_Body {
  padding-top: $grid-gap;
  padding-bottom: $grid-gap;
  background-color: $color-footer;
}

.lyt-Footer_Footer {
  padding-top: $grid-gap;
  padding-bottom: $grid-gap;
  background-color: $color-primary-dark;
}
