.pag-Pagination_Bar {
  text-align: center;
  margin-top: #{$grid-gap * 2};
  margin-bottom: #{$grid-gap * 2};
}

p.pag-Pagination_Count {
  margin-bottom: 0;
}

.pag-Pagination_Nav {

}

span.page-numbers,
a.page-numbers {
  display: inline-block;
  // padding: 8px 12px;
  width: 40px;
  height: 40px;
  border: 1px solid $color-secondary;
  font-size: 12px;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color .3s ease, border-color .35s ease, color .3s ease;
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover:not(.current) {
    background-color: $color-primary;
    border-color: $color-primary;
    color: #fff;
  }

  &.current {
    border-color: $color-grey-text;
    color: $color-grey-text;
  }
  &.prev,
  &.next {
    // Hide and replace with SVG arrows
  }

  &:last-child {
    margin-right: 0;
  }
}

.pag-Pagination_Number {
  line-height: 1;
}
