.pag-Pagination_Bar {
  text-align: center;
  margin-top: #{$grid-gap * 2};
}

p.pag-Pagination_Count {
  margin-bottom: 0;
}

.pag-Pagination_Nav {

}

span.page-numbers,
a.page-numbers {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid $color-secondary;
  font-size: 12px;
  text-decoration: none;

  &.current {
    border-color: $color-grey-text;
    color: $color-grey-text;
  }
  &.prev,
  &.next {
    // Hide and replace with SVG arrows
  }
}
