.rte-RichText {

  h2,h3,h4 {
    margin-top: #{$grid-gap * 3};
    margin-bottom: $grid-gap;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin-top: #{$grid-gap * 2};
    margin-bottom: #{$grid-gap * 2};

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: underline;
  }

  h2 + p,h3 + p,h4 + p {
    margin-top: $grid-gap;
  }

  .wp-block-quote {
    margin-top: #{$grid-gap * 3};
    margin-bottom: #{$grid-gap * 3};
  }

  ol, ul {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  li {
    color: inherit;
    list-style: disc outside none;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
