.frm-Contact_Form {
  @include break-min($md) {
    @include restrain_width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    // max-width: calc((10 / 12) * 100%);
    margin: 0 auto;
  }

  label.frm-Contact_Label {
    display: block;
    flex: 0 0 100%;
    margin-bottom: 12.5px;

    &.frm-Contact_Label-small {
      display: block;
      margin-bottom: 12.5px;

      @include break-min($md) {
        flex: 0 0 calc(50% - 6.25px);
      }
    }
  }

  .frm-Contact_Input,
  .frm-Contact_Select,
  .frm-Contact_Textarea {
    margin-top: 5px;
  }

  span.wpcf7-not-valid-tip {
    position: absolute;
    top: 4px;
    right: 6px;
    font-size: 12px;
  }

  .frm-Contact_Submit {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .wpcf7-submit {
    margin: 0 !important;
    align-self: flex-start;

    @include break-min($xs) {
      width: auto;
    }

    @include break-min($sm) {
      width: calc((1 / 4) * 100%);
    }
  }

  .wpcf7-response-output {
    max-width: 100%;
    margin: 0;

    @include break-min($md) {
      max-width: calc(100% - 150px);
      position: absolute;
      bottom: -30px;
      left: 50%;
      margin-left: 0;
      width: 100%;
      transform: translateX(-50%);
    }
  }
}
