.cta-Block,
.editor-block-list__layout .cta-Block {
  width: 100%;
  position: relative;
  background: $color-primary;
  overflow: hidden;
}

.cta-Block_BackgroundImage,
.editor-block-list__layout .cta-Block_BackgroundImage {
  @include absolute_fill;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  z-index: 1;
}

.cta-Block_Overlay,
.editor-block-list__layout .cta-Block_Overlay {
  @include absolute_fill;
  background-color: #000000;
  z-index: 2;
}

.cta-Block_Inner,
.editor-block-list__layout .cta-Block_Inner {
  @include inner_padding;
  position: relative;
  z-index: 3;
  display: flex;
}

.cta-Block_Body,
.editor-block-list__layout .cta-Block_Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .lyt-Body & {
    @include break-min($sm) {
      min-height: 400px;
    }
  }
}

.cta-Block_Content,
.editor-block-list__layout .cta-Block_Content {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  width: 100%;
  color: #fff;

  & *:last-child {
    margin-bottom: 0;
  }

  .lyt-Body & {
    @include break-min($xs) {
      max-width: calc((8 / 12) * 100%);
    }
    @include break-min($md) {
      max-width: calc((6 / 12) * 100%);
    }
  }
}

h3.cta-Block_Title,
.editor-block-list__layout h3.cta-Block_Title {
  color: #fff;
  text-align: center;
  margin: 0 auto 25px;
}

p.cta-Block_Text,
.editor-block-list__layout .cta-Block_Text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 40px;
}

ul.cta-Block_Items,
.editor-block-list__layout ul.cta-Block_Items {
  @include no-margin-padding;
  display: flex;
  justify-content: center;
  margin-right: -#{$grid-gap};

  .cta-Block-share & {
    @include break-max($sm) {
      margin-right: -5px;
    }
  }
}

li.cta-Block_Item,
.editor-block-list__layout li.cta-Block_Item {
  @include no_bullets;
  margin-right: $grid-gap;
  width: calc(((6 / 12) * 100%) - #{$grid-gap * 2});
  flex: 0 1 calc(((6 / 12) * 100%) - #{$grid-gap * 2});

  @include break-min($sm) {
    width: calc((2 / 6) * 100%);
    flex: 0 1 calc((2 / 6) * 100%);

    max-width: 150px;

    &:first-child {
      margin-left: auto !important;
    }

    &:last-child {
      margin-right: auto !important;
    }

    &:only-child {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  .cta-Block-share & {
    @include break-max($sm) {
      width: calc((1 / 3) * 100%);
      flex: 1 1 calc((1 / 3) * 100%);
      margin-right: 5px;
    }
  }
}

a.cta-Block_Link,
.editor-block-list__layout a.cta-Block_Link {
  @include button_ghost;
  display: block;
  width: 100%;
  margin: 0 !important;

  &.cta-Block_Link-accent {
    @include button_accent;
    display: block;
  }

  &.cta-Block_Link-external {
    display: flex;
    justify-content: center;

    svg {
      width: 14px;
      margin-left: 5px;
    }
  }

  .cta-Block-share & {
    @include break-max($sm) {
      width: 100%;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}

.cta-Block_ImageStrip,
.editor-block-list__layout .cta-Block_ImageStrip {
  padding-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
