.searchandfilter {
  h4 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 5px;
  }

  ul {
    margin-bottom: 0;
    width: 100%;
  }

  div > ul > li {
    margin-top: 5px;
    border-top: 1px solid $color-border;
    padding-top: 5px;
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  li {
    display: block;
    margin-bottom: 10px;
    padding-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    display: block;
    position: relative;
    padding-left: 22.5px;
    font-size: 14px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -5px;
  }

  input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
