.ico-Logo {
  max-height: 100px;
  transition: max-height .3s ease;
  will-change: max-height;

  .utl-HeaderScrolled & {
    max-height: 60px;
  }
}

.ico-Logo_Text {
  .utl-HeaderScrolled & {
    opacity: 0;
    visibility: hidden;
  }
}
