.ico-Logo {
  transition: transform .3s ease;

  .utl-HeaderScrolled & {
    transform: scale(1.25) translateY(7px);
  }
}

.ico-Logo_Text {
  .utl-HeaderScrolled & {
    opacity: 0;
    visibility: hidden;
  }
}
