.mod-Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  visibility: visible;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  .admin-bar & {
    z-index: 999999999;
  }

  @include break-min($sm) {
    @include spacer_body;
  }

  &.mod-Modal-active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.mod-Modal_Inner {
  display: flex;
  width: 100%;

  @include break-min($sm) {
    @include inner;
  }
}

.mod-Modal_Body {
  width: 100%;
  display: flex;
  
  @include break-min($sm) {
    justify-content: center;
    align-items: center;
  }
}

.mod-Modal_Close {
  position: absolute;
  top: $grid-gap;
  right: $grid-gap;
  width: 15px;
  height: 15px;
  cursor: pointer;

  @include break-min($sm) {
    top: $grid-gap;
    right: $grid-gap;
    width: 25px;
    height: 25px;
  }
}

.mod-Modal_CloseSpan {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  height: 2px;
  width: 100%;
  background-color: $color-secondary;
  transform-origin: 50% 50%;

  &:first-child {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:last-child {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.mod-Modal_Content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid $color-secondary;
  padding: $grid-gap;
  width: 100%;

  max-height: 100%;
  overflow-y: auto;

  @include break-min($sm) {
    max-width: calc((10 / 12) * 100%);
  }

  @include break-min($lg) {
    max-width: calc((7 / 12) * 100%);
  }
}

h3.mod-Modal_Title {
  font-size: 32px;
  line-height: 1;
  margin-bottom: 5px;
  padding-right: 20px;

  @include break-min($sm) {
    font-size: 36px;
    padding-right: 0;
  }
}

p.mod-Modal_Subheading {
  color: $color-grey-text;

  &[data-modal-email],
  &[data-modal-location] {
    display: none;

    &.show {
      display: block;
    }
  }
}


.mod-Modal_Columns {
  @include break-min($sm) {
    display: flex;
  }
}

.mod-Modal_Column {
  &:first-child {
    @include break-min($sm) {
      flex: 0 0 calc((3 / 12) * 100%);
      margin-right: $grid-gap;
    }
  }
  &:last-child {
    @include break-min($sm) {
      flex: 1 1 auto;
    }
  }
}

.mod-Modal_Thumbnail {
  position: relative;
  padding-bottom: calc((35 / 59) * 100%);
  margin-bottom: $grid-gap;

  @include break-min($sm) {
    padding-bottom: 100%;
  }

  img {
    @include absolute_fill;
    @include object-fit-cover;
  }
}

button.mod-Modal_Button {
  appearance: none;
  -webkit-appearance: none;
  text-decoration: underline;
  color: $color-grey-text;
  background: none;
  font-size: 16px;
  border: 0;
  font-weight: 500;
  padding: 0;
  margin-top: $grid-gap * 2;
  margin-bottom: $grid-gap * 2;
}
