.sec-Info_Columns {
  @include break-min($sm) {
    display: flex;
  }
}

.sec-Info_Column {
  @include break-min($sm) {
    &:first-child {
      flex: 0 0 calc((8 / 12) * 100%);
    }
    &:last-child {
      flex: 0 0 calc((4 / 12) * 100%);
      display: flex;
      flex-direction: column;
    }
  }
}

.sec-Info_ImageWrap {
  position: relative;
  padding-bottom: calc((17 / 24) * 100%);
}

.sec-Info_Image {
  @include absolute_fill;
  @include object-fit-cover;
}

.sec-Info_Content {
  flex: 1;
  background-color: $color-light-grey;
  padding: $grid-gap;
  line-height: 1.5;
}

a.sec-Info_Link {
  color: $color-grey-text;
  text-decoration: none;
}

.sec-Info_ImageStrip {
  height: 30px;
  width: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0.7
}
