.editor-block-list__layout,
.lyt-Body,
.lyt-Body .ent-Entry_Content {
  .wp-block-mkl-section-block {
    @include spacer;

    &.has-primary-background-color {
      background-color: $color-primary;
    }
    &.has-secondary-background-color {
      background-color: $color-secondary;
    }
    &.has-black-background-color {
      background-color: #000;
    }
    &.has-white-background-color {
      background-color: #FFF;
    }
    &.has-grey-background-color {
      background-color: #f7f7f7;
    }

    &.restricted {
      .wp-block-mkl-section-block-inner > p {
        max-width: calc((6 / 12) * 100%);
        margin-right: auto;
        margin-left: auto;
      }
    }
    &.pattern-bg {
      .section-bg.bg__repeated {
        background-size: 450px;
      }
    }
  }

  .wgt-Widgets_Item:first-child .wp-block-mkl-section-block:first-child {
    margin-top: 0;
  }

  .wp-block-mkl-section-block-inner {
    @include inner;
  }

  // For archive page after-content widgets
  .content_block .wp-block-mkl-section-block:first-child {
    margin-top: 0;
  }
}
