.soc-Social {
  margin-top: $grid-gap;
  border-top: 1px solid $color-border;
  padding-top: $grid-gap;
  display: flex;
  justify-content: space-between;
}

p.soc-Social_Heading {
  margin: 0 $grid-gap 0 0;
  font-size: 14px;
  color: $color-grey-text;
}

.soc-Social_Icons,
.rte-RichText .soc-Social_Icons {
  @include no_margin_padding;
  display: flex;

  .ft-Widgets_Item-widget_custom_post_widget & {
    justify-content: center;

    @include break-min($sm) {
      justify-content: flex-start;
    }
  }
}

.soc-Social_Icon,
.rte-RichText .soc-Social_Icon {
  @include no_bullets;
  width: 25px;
  margin-right: #{$grid-gap};
  margin-bottom: 0;

  a {
    display: block;
  }

  svg {
    fill: $color-grey-text;
    transition: opacity 0.3s ease;
    opacity: .4;

    &:hover {
      opacity: 1;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  .lyt-Footer & {
    width: 40px;
    margin-right: #{$grid-gap * 2};

    &:last-child {
      margin-right: 0;
    }

    @include break-min($md) {
      width: 30px;
      margin-right: $grid-gap;
    }

    svg {
      opacity: 1;

      &:hover {
        opacity: .8;
      }
    }
  }
}
