.soc-Social {
  margin-top: $grid-gap;
  border-top: 1px solid $color-border;
  padding-top: $grid-gap;

  @include break-min($sm) {
    display: flex;
    justify-content: space-between;
  }
}

p.soc-Social_Heading {
  margin: 0 $grid-gap 0 0;
  font-size: 16px;
  color: $color-grey-text;
  display: none;

  @include break-min($sm) {
    display: block;
  }
}

.soc-Social_Icons,
.rte-RichText .soc-Social_Icons {
  @include no_margin_padding;
  display: flex;
  justify-content: center;

  @include break-min($sm) {
    justify-content: flex-start;
  }
}

.soc-Social_Icon,
.rte-RichText .soc-Social_Icon {
  @include no_bullets;
  margin-right: #{$grid-gap * 2};
  margin-bottom: 0;
  width: 50px;

  @include break-min($sm) {
    width: 35px;
    margin-right: #{$grid-gap};
  }

  &:last-child {
    margin-right: 0;
  }

  .lyt-Footer & {
    width: 40px;
    margin-right: #{$grid-gap * 2};

    &:last-child {
      margin-right: 0;
    }

    @include break-min($md) {
      width: 30px;
      margin-right: $grid-gap;
    }

    svg {
      opacity: 1;
      width: 40px;
      height: 40px;

      &:hover {
        opacity: .8;
      }
    }
  }

  a {
    display: block;
  }

  svg {
    fill: $color-grey-text;
    transition: opacity 0.3s ease;
    opacity: .4;
    width: 50px;
    height: 50px;

    &:hover {
      opacity: 1;
    }

    @include break-min($sm) {
      width: 35px;
      height: 35px;
    }
  }
}
