.hd-Search {
  position: relative;
}

.hd-Search_Toggle {
  display: block;
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: $color-tools-icons;

  svg {
    width: 32px;
    transition: opacity .3s ease;

    @include break-min($md) {
      opacity: 0.5;
      width: 20px;
    }
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }
}

.hd-Search_Bar {
  position: fixed;
  top: 85px;
  right: #{$grid-gap / 2};
  left: #{$grid-gap / 2};
  z-index: 10;
  max-height: 0;
  max-width: 100%;

  pointer-events: none;
  overflow: hidden;
  transition: max-height 0.8s cubic-bezier(0, 1, 0, 1);

  .admin-bar & {
    top: 130px;

    @include break-min($xs) {
      top: calc(100% + 5px);
    }
  }

  @include break-min($xs) {
    position: absolute;
    width: 100%;
    min-width: 450px;
    top: calc(100% + 5px);
    right: -58px;
    left: auto;
  }
  
  @include break-min($md) {
    right: -36px;
  }

  &.hd-Search_Bar-active {
    max-height: 300px;
    pointer-events: all;
    transition: max-height 1.3s ease-in-out;
  }
}

.hd-Search_Form {
  display: flex;
  border: 8px solid #D6D6D6;
  background: #D6D6D6;
  border-radius: 3px;
  position: relative;
  margin-top: 15px;

  &::after {
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    border: 15px solid transparent;
    border-bottom: 15px solid #D6D6D6;

    position: absolute;
    top: -37px;
    right: 63px;

    @include break-min($xs) {
      right: 50px;
    }

    @include break-min($md) {
      right: 23.5px;
    }
  }
}

.hd-Search_Input {
  flex: 1 1 auto;
  height: 40px;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

input[type="submit"].hd-Search_Button {
  flex: 0 0 50px;
  margin: 0;
  background-color: $color-grey-text !important;
  padding: 5px 10px !important;
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-color: $color-secondary !important;

  &:hover {
    color: #fff !important;
    background-color: darken($color-grey-text, 10%) !important;
  }
}
