.hd-Tools {
  display: flex;
  margin-left: 30px;
}

.hd-Tools_Items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hd-Tools_Item {
  flex: 0 0 auto;
  margin-left: 20px;

  &:first-child {
    margin-right: 0;
  }
}

a.hd-Tools_Button {
  @include button_primary;
}

.hd-Tools_Item-cta {
  display: none;
  @include break-min($md) {
    display: block;
  }
}

.hd-Tools_Item-menuToggle {
  @include break-min($md) {
    display: none;
  }
}

.hd-Tools_NavToggle {
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  outline: none;
  cursor: pointer;
  color: $color-secondary;
  background: transparent;
}
