.hd-Tools {
  display: flex;
  margin-left: 30px;
}

.hd-Tools_Items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hd-Tools_Item {
  flex: 0 0 auto;
  margin-left: 30px;

  &:first-child {
    margin-right: 0;
  }

  @include break-min($md) {
    margin-left: 20px;

    &:first-child {
      margin-right: 0;
    }
  }
}

a.hd-Tools_Button {
  @include button_primary_light;

  &.hd-Tools_Button-external {
    display: flex;
    justify-content: center;

    svg {
      width: 14px;
      height: 14px;
      margin-left: 5px;
      fill: #fff;
    }
  }
}

.hd-Tools_Item-cta {
  display: none;
  @include break-min($md) {
    display: block;
  }
}

.hd-Tools_Item-menuToggle {
  @include break-min($md) {
    display: none;
  }
}

.hd-Tools_NavToggle {
  display: block;
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  outline: none;
  cursor: pointer;
  color: $color-tools-icons;
  background: transparent;
}
