.menu-ancillary-container .menu {
  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      font-size: 14px;
      text-decoration: none;
      color: currentColor;

      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: currentColor;
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s ease, visibility .5s ease;
      }

      &:hover::before {
        opacity: 1;
        visibility: visible;
      }
    }

    &.current-menu-item > a {
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
