.menu-footer-container .menu {
  margin: 0;
  padding: 0;
  display: none;

  @include break-min($md) {
    display: flex;
  }

  > li {
    &:last-child {
      flex: 0 0 150px;
    }
  }

  li {
    @include no_bullets;
    font-family: $font-heading;
    letter-spacing: 0.6px;
    font-weight: 500;
    margin-right: $grid-gap;
    flex: 1 1 auto;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 14px;
      text-decoration: none;
      color: currentColor;
      z-index: 1;
      transition: color 0.3s ease-in-out;
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -4px;
        height: 2px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: currentColor;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease, visibility .3s ease;
      }

      &:hover::after {
        opacity: 1;
        visibility: visible;
      }
    }

    &.current-menu-item > a::after {
      opacity: 1;
      visibility: visible;
    }
  }

  .sub-menu {
    padding: 0;
    margin: 0;

    li.menu-item {
      font-weight: normal;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
