.menu-footer-container .menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -#{$grid-gap};

  @include break-min($sm) {
    flex-wrap: nowrap;
    margin-right: 0;
  }

  > li {
    width: calc(((6 / 12) * 100%) - #{$grid-gap});
    flex: 0 0 calc(((6 / 12) * 100%) - #{$grid-gap});
    margin-bottom: $grid-gap;

    &:last-child {
      & > a {
        display: none;
      }
    }

    @include break-min($sm) {
      width: auto;
      flex: 1 1 auto;
      margin-bottom: 0;

      &:last-child {
        flex: 0 0 100px;
        width: 100px;
      }
    }
  }

  li {
    @include no_bullets;
    font-family: $font-heading;
    letter-spacing: 0.6px;
    font-weight: 600;
    margin-right: $grid-gap;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 14px;
      text-decoration: none;
      color: currentColor;
      z-index: 1;
      transition: color 0.3s ease-in-out;
      position: relative;

      &:hover {
        text-decoration: underline;
      }
      //
      // &::before {
      //   content: '';
      //   position: absolute;
      //   bottom: 0px;
      //   left: 0;
      //   right: 0;
      //   height: 2px;
      //   background-color: currentColor;
      //   opacity: 0;
      //   visibility: hidden;
      //   transition: opacity .5s ease, visibility .5s ease;
      // }
      //
      // &:hover::before {
      //   opacity: 1;
      //   visibility: visible;
      // }
    }

    &.current-menu-item > a {
      text-decoration: underline;
      // &::before {
      //   opacity: 1;
      //   visibility: visible;
      // }
    }
  }

  .sub-menu {
    padding: 0;
    margin: 0;

    li.menu-item {
      font-weight: normal;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
