.nav-Mobile {
  .menu {
    margin: 0;
    padding: 0;

    li.menu-item {
      @include no_bullets;
      position: relative;
      font-family: $font-heading;
      letter-spacing: 0.6px;

      a {
        display: block;
        text-decoration: none;
        color: currentColor;
        line-height: 1;
      }
    }

    > li.menu-item {
      border-bottom: 1px solid $color-border-light;

      > a {
        font-size: 20px;
        padding-top: $grid-gap;
        padding-bottom: $grid-gap;
      }
    }

    li.menu-item.menu-item-has-children {
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 20.5px;
        right: 5px;
        cursor: pointer;
        border-top: 1px solid $color-border-light;
        border-right: 1px solid $color-border-light;
        transform: rotate(45deg);
        transition: transform .3s ease;
      }

      &.open {
        &::after {
          transform: rotate(135deg);
        }
      }

      > a {
        margin-right: 60px;
      }
    }

    .sub-menu {
      margin: 0;
      max-height: 0;
      transition: max-height 0.8s cubic-bezier(0, 1, 0, 1);
      overflow: hidden;

      li.menu-item {
        padding-top: #{$grid-gap / 2};
        padding-bottom: #{$grid-gap / 2};

        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: $grid-gap;
        }
        a {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }

    li.menu-item.menu-item-has-children.open .sub-menu {
      max-height: 1000px;
      transition: max-height 1.3s ease-in-out;
    }
  }
}
