@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.blk-Partners {
  @include spacer_body_small;
  background-color: $color-light-grey;
}

.blk-Partners_Inner {
  @include inner;
}

.blk-Partners_Header {
  @include section_header_small;
}

.blk-Partners_Title {
  @include section_title;
}

.blk-Partners_Items {
  @include no_margin_padding;
  display: flex;
  flex-wrap: wrap;
  margin-right: -#{$grid-gap};
  margin-bottom: -#{$grid-gap};
}

.blk-Partners_Item {
  flex: 0 0 calc(((6 / 12) * 100%) - #{$grid-gap});
  margin-bottom: $grid-gap;
  list-style: none;
  background-color: #fff;
  margin-right: $grid-gap;
  border: 1px solid $color-border;

  @include break-min($xs) {
    flex: 0 0 calc(((4 / 12) * 100%) - #{$grid-gap});
  }

  @include break-min($md) {
    flex: 0 0 calc(((2 / 12) * 100%) - #{$grid-gap});
  }
}

.blk-Partner {
  position: relative;
  padding-bottom: calc((4 / 12) * 100%);

  img {
    @include absolute_fill;
    object-fit: contain;
    font-family: 'object-fit: contain;';
    z-index: 1;
  }
}

a.blk-Partner_FauxLink {
  @include absolute_fill;
  z-index: 2;
}
