@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.her-Hero {
  width: calc(100% - #{$grid-gap * 2});
  position: relative;
  background: $color-primary;
  margin-left: $grid-gap;
  margin-right: $grid-gap;
}

.her-Hero_Inner {
  @include inner;
  position: relative;
  z-index: 3;
  display: flex;
}

.her-Hero_Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.her-Hero_Content {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  width: 100%;
  color: #fff;

  @include break-min($sm) {
    max-width: calc((6 / 12) * 100%);
  }
}

h2.her-Hero_Title {
  color: #fff;
  text-align: center;
  margin: 0 auto 20px;

  @include break-min($sm) {
    font-size: 44px;
  }
}

a.her-Hero_Link {
  @include button_accent;
}

.her-Hero_BackgroundImage {
  @include absolute_fill;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  z-index: 1;
}
.her-Hero_Overlay {
  @include absolute_fill;
  background-color: #000000;
  z-index: 2;
}
