@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.blk-TextImage {
  @include spacer_small;
}

.blk-TextImage_Columns {
  display: flex;
}

.blk-TextImage_Column {
  position: relative;

  @include break-min($sm) {
    flex: 0 0 calc(50% - #{$grid-gap / 2});
  }

  &:first-child {
    @include break-min($sm) {
      margin-right: $grid-gap;

      .blk-TextImage_Columns-flipped & {
        order: 2;
        margin-right: 0;
        margin-left: $grid-gap;
      }
    }
  }

  &:last-child {
    display: none;

    @include break-min($sm) {
      display: block;
      align-self: end;
      .blk-TextImage_Columns-flipped & {
        order: 1;
      }
    }
  }
}

h4.blk-TextImage_Heading {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.4;
}

.lyt-Body .blk-TextImage_Text {
  p {
    line-height: 1.5;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: $grid-gap;

    &:only-child,
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    // text-decoration: none;
    // font-size: 14px;
  }
}

.blk-TextImage_ImageWrap {
  position: relative;
}

.blk-TextImage_ImageWrap-primary {
  background-color: #fff; 
  width: calc(100% + 10px);
  margin-bottom: 5%;
  z-index: 2;
  border-right: 10px solid #fff;
  border-bottom: 15px solid #fff;
  padding-bottom: calc((40 / 57) * 100%);

  .blk-TextImage_Columns-flipped & {
    border-right: 0;
    border-left: 10px solid #fff;
    margin-left: -10px;
  }
}

.blk-TextImage_ImageWrap-secondary {
  width: 70%;
  position: absolute;
  bottom: 0;
  right: -7%;
  padding-bottom: 45%;

  .blk-TextImage_Columns-flipped & {
    right: auto;
    left: -7%;
  }
}

.blk-TextImage_Image {
  @include absolute_fill;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}
