@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.blk-PictureLinks_Items {
  @include no-margin-padding;
  display: flex;
  flex-wrap: wrap;
  margin-right: -40px;
  margin-bottom: -#{$grid-gap * 3};

  @include break-min($xs) {
    margin-bottom: 0;
  }
  @include break-min($sm) {
    margin-right: -80px;
  }
}

.blk-PictureLinks_Item {
  @include no_bullets;
  flex: 0 0 calc(50% - 40px);
  margin-right: 40px;
  margin-bottom: #{$grid-gap * 3};

  @include break-min($xs) {
    flex: 0 0 calc(25% - 40px);
    margin-bottom: 0;
  }

  @include break-min($sm) {
    flex: 0 0 calc(25% - 80px);
    margin-right: 80px;
  }
}

.blk-PictureLink {
  position: relative;
}

.blk-PictureLink_Body {
  position: relative;
  padding-bottom: 100%;
}

.blk-PictureLink_ImageWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 88%;
  height: 88%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}

.blk-PictureLink_Image {
  @include absolute_fill;
  z-index: 1;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  transition: transform .5s ease;
  will-change: transform;

  .blk-PictureLink_FauxLink:hover + .blk-PictureLink_Body & {
    transform: scale(1.025);
  }
}

.blk-PictureLink_Mask {
  @include absolute_fill;
  z-index: 2;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

.blk-PictureLink_Footer {
  text-align: center;
}

h4.blk-PictureLink_Title {
  margin-top: #{$grid-gap * 2};
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: currentColor;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
  }

  .blk-PictureLink_FauxLink:hover ~ .blk-PictureLink_Footer & {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

a.blk-PictureLink_FauxLink {
  @include absolute_fill;
  z-index: 3;
}
