@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.blk-HomeIntro_Columns {
  padding-bottom: #{$grid-gap * 4};
  @include break-min($sm) {
    display: flex;
    padding-bottom: 0;
  }
}

.blk-HomeIntro_Column {
  position: relative;

  @include break-min($sm) {
    width: calc(50% - #{$grid-gap / 2});
    flex: 1 1 calc(50% - #{$grid-gap / 2});
  }

  &:first-child {
    margin-bottom: #{$grid-gap * 2};

    @include break-min($sm) {
      margin-right: $grid-gap;
      margin-bottom: 0;
    }

    .blk-HomeIntro_Columns-flipped & {
      order: 2;
      margin-right: 0;
      margin-left: $grid-gap;
      padding-left: calc(((1 / 12) * 100%) + #{$grid-gap});
    }
  }

  &:last-child {
    @include break-min($sm) {
      align-self: end;
      padding-left: calc(((1 / 12) * 100%) + #{$grid-gap});

      .blk-HomeIntro_Columns-flipped & {
        order: 1;
        padding-left: 0;
      }
    }
  }
}

p.blk-HomeIntro_LeadText {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
}

p.blk-HomeIntro_Text {
  line-height: 1.5;
  font-size: 15px;
}

a.blk-HomeIntro_Link {
  @include underline_on_hover;

  color: $color-grey-text;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.blk-HomeIntro_ImageWrap {
  position: relative;
}

.blk-HomeIntro_ImageWrap-primary {
  width: calc(100% + 10px);
  z-index: 2;
  border-right: 10px solid #fff;
  border-bottom: 15px solid #fff;
  padding-bottom: calc((40 / 57) * 100%);

  @include break-min($sm) {
    margin-bottom: 5%;
  }

  .blk-HomeIntro_Columns-flipped & {
    border-right: 0;
    border-left: 10px solid #fff;
    margin-left: -10px;
  }
}

.blk-HomeIntro_ImageWrap-secondary {
  width: 70%;
  position: absolute;
  bottom: -#{$grid-gap * 4};
  padding-bottom: 45%;
  right: -#{100px - $grid-gap};

  @include break-min($sm) {
    bottom: 0;
  }

  .blk-HomeIntro_Columns-flipped & {
    right: auto;
    left: -#{100px - $grid-gap};
  }
}

.blk-HomeIntro_Image {
  @include absolute_fill;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}
