@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";


.blk-CTA {
  width: 100%;
  position: relative;
  background: $color-primary;
}

.blk-CTA_BackgroundImage,
.editor-block-list__layout .blk-CTA_BackgroundImage {
  @include absolute_fill;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  z-index: 1;
}

.blk-CTA_Overlay,
.editor-block-list__layout .blk-CTA_Overlay {
  @include absolute_fill;
  background-color: #000000;
  z-index: 2;
}

.blk-CTA_Inner,
.editor-block-list__layout .blk-CTA_Inner {
  @include inner;
  position: relative;
  z-index: 3;
  display: flex;
}

.blk-CTA_Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.blk-CTA_Content {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  width: 100%;
  color: #fff;

  & *:last-child {
    margin-bottom: 0;
  }

  @include break-min($sm) {
    .lyt-Body & {
      max-width: calc((6 / 12) * 100%);
    }
  }
}

h3.blk-CTA_Title {
  color: #fff;
  text-align: center;
  margin: 0 auto 20px;
}

.blk-CTA_Text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 50px;
}

ul.blk-CTA_Items {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-right: -#{$grid-gap};
}

li.blk-CTA_Item {
  @include no_bullets;
  margin-right: $grid-gap;
}

a.blk-CTA_Link,
.editor-block-list__layout a.blk-CTA_Link {
  @include button_ghost;
  @include button_wider;

  &.blk-CTA_Link-accent {
    @include button_accent;
  }
}

.blk-CTA_ImageStrip {
  padding-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
