@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.blk-TwoImages_Items {
  @include ignore_restrained_width;

  @include break-min($xs) {
    display: flex;
  }
}

.blk-TwoImages_Item {
  &:first-child {
    margin-bottom: $grid-gap;
  }

  @include break-min($xs) {
    width: calc(50% - #{$grid-gap / 2});
    flex: 0 0 calc(50% - #{$grid-gap / 2});

    &:first-child {
      margin-right: $grid-gap;
      margin-bottom: 0;
    }
  }
}

.blk-TwoImages_ImageWrap,
.editor-block-list__layout .blk-TwoImages_ImageWrap {
  position: relative;
  padding-bottom: calc((10 / 14.25) * 100%);

}

.blk-TwoImages_Image,
.editor-block-list__layout .blk-TwoImages_Image {
  @include absolute_fill;
  @include object-fit-cover;
}
