@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.blk-TextColumns_Header {
  text-align: center;
  margin-bottom: #{$grid-gap * 3};

  @include break-min($sm) {
    margin-bottom: #{$grid-gap * 4};
  }
}

h3.blk-TextColumns_Header {
  @include section_title;
}

.blk-TextColumns_Columns {
  @include no_margin_padding;
  @include break-min($xs) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -#{$grid-gap};
    margin-bottom: -#{$grid-gap * 3};
  }
}

.blk-TextColumns_Column {
  @include no-bullets;
  margin-bottom: #{$grid-gap * 3};

  @include break-min($xs) {
    margin-right: #{$grid-gap};
    flex: 0 0 calc(50% - #{$grid-gap});
  }
}

.blk-TextColumns_Heading {
  font-size: 18px;
}

.blk-TextColumns_Text {
  font-size: 14px;
  line-height: 1.5;
}

a.blk-TextColumns_Link {
  color: $color-grey-text;
  font-size: 14px;
  text-decoration: none;
}
