@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.til-Donation {
  @include ignore_restrained_width;
  margin-bottom: #{$grid-gap * 4};
}

.til-Donation_Items {
  margin-bottom: -#{$grid-gap};

  @include break-min($xs) {
    display: flex;
    flex-wrap: wrap;

    margin-right: -#{$grid-gap};
  }
}

.til-Donation_Item {
  margin-bottom: $grid-gap;

  @include break-min($xs) {
    display: flex;
    width: calc(((6 / 12) * 100%) - #{$grid-gap});
    flex: 0 0 calc(((6 / 12) * 100%) - #{$grid-gap});

    margin-right: $grid-gap;
  }

  @include break-min($sm) {
    width: calc(((3 / 12) * 100%) - #{$grid-gap});
    flex: 0 0 calc(((3 / 12) * 100%) - #{$grid-gap});
  }
}

.til-Donation_Tile {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.til-Donation_ImageWrap {
  position: relative;
  overflow: hidden;
  padding-bottom: 30%;

  @include break-min($xs) {
    padding-bottom: 75%;
  }
}

.til-Donation_Image {
  @include absolute_fill;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  transition: transform .5s ease;
  will-change: transform;

  .til-Donation_Item:hover & {
    transform: scale(1.025);
  }
}

.til-Donation_Content {
  padding: $grid-gap;
  color: $color-dark-grey;
  background-color: $color-light-grey;
  flex: 1 1 auto;
}

h3.til-Donation_Heading {
  font-size: 20px;
  line-height: 1;
  color: $color-dark-grey;
  font-weight: 500;
  margin-bottom: 0;

  @include break-min($xs) {
    font-size: 16px;
    margin-bottom: $grid-gap;
  }
}

p.til-Donation_Text {
  margin-top: 10px !important;
}

a.til-Donation_FauxLink {
  @include absolute_fill;
  z-index: 2;
}
