@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.tlv-Intro_Columns {
  margin-bottom: #{$grid-gap * 5};

  @include break-min($sm) {
    margin-bottom: $grid-gap;
    display: flex;
  }
}

.tlv-Intro_Column {
  position: relative;
  flex: 0 0 calc(50% - #{$grid-gap / 2});

  &:first-child {
    margin-right: $grid-gap;

    .tlv-Intro_Columns-flipped & {
      order: 2;
      margin-right: 0;
      margin-left: $grid-gap;
    }
  }

  &:last-child {
    align-self: end;
    .tlv-Intro_Columns-flipped & {
      order: 1;
    }
  }
}

.tlv-Intro_LeadText {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.tlv-Intro_Text {
  line-height: 1.5;
  font-size: 14px;
}

a.tlv-Intro_Link {
  color: $color-grey-text;
  text-decoration: none;
  font-size: 14px;
}

.tlv-Intro_ImageWrap {
  position: relative;
}

.tlv-Intro_ImageWrap-primary {
  width: calc(100% + 10px);
  margin-bottom: 5%;
  z-index: 2;
  border-right: 10px solid #fff;
  border-bottom: 15px solid #fff;
  padding-bottom: 55%;

  .tlv-Intro_Columns-flipped & {
    border-right: 0;
    border-left: 10px solid #fff;
    margin-left: -10px;
  }
}

.tlv-Intro_ImageWrap-secondary {
  width: 70%;
  position: absolute;
  bottom: -#{$grid-gap * 4};
  padding-bottom: 45%;
  right: -#{100px - $grid-gap};

  @include break-min($sm) {
    bottom: 0;
  }

  .tlv-Intro_Columns-flipped & {
    right: auto;
    left: -#{100px - $grid-gap};
  }
}

.tlv-Intro_Image {
  @include absolute_fill;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

.tlv-Intro_Footer {
  margin-top: $grid-gap;
  border-top: 1px solid $color-border;
  padding-top: $grid-gap;
}
