@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.blk-Contact_Columns {
  display: flex;
  margin-right: -#{$grid-gap * 2};
}

.blk-Contact_Column {
  flex: 0 0 calc(((4 / 12) * 100%) - #{$grid-gap * 2});
  margin-right: #{$grid-gap * 2};
}

h4.blk-Contact_Heading {
  margin-bottom: #{$grid-gap * 2};
}

.blk-Contact_Text {
  margin-bottom: #{$grid-gap * 2};
}

.blk-Contact_Item {
  position: relative;
  padding-left: 22px;
  margin-bottom: 5px;

  svg {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    opacity: 0.3;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
