@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.her-Home {
  position: relative;
  background: $color-primary;
  margin-left: $grid-gap / 2;
  margin-right: $grid-gap / 2;

  @include break-min($sm) {
    margin-left: $grid-gap;
    margin-right: $grid-gap;
  }
}

.her-Home_Overlay {
  @include absolute_fill;
  background-color: #000;
  z-index: 1;
}

.her-Home_Columns {
  @include break-min($sm) {
    display: flex;
  }
}

.her-Home_Column {
  position: relative;

  @include break-min($sm) {
    flex: 1;
    display: flex;
    order: 1;
  }
}

.her-Home_Column-large {
  @include break-min($sm) {
    flex: 2;
    order: 2;
  }
}

.her-Home_Content {
  padding: $grid-gap / 2;
  width: 100%;
  color: #fff;
  text-align: center;
  z-index: 2;
  position: relative;

  @include break-min($sm) {
    padding: $grid-gap;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
  }
}

h2.her-Home_Title {
  color: #fff;;
  margin: 0 auto 20px;

  @include break-min($sm) {
    font-size: 32px;
  }
}

a.her-Home_Link {
  @include button_accent;
  align-self: flex-start;
}

.her-Home_ImageWrap {
  position: relative;
  padding-bottom: 50%;
  width: 100%;
}

.her-Home_Image {
  @include absolute_fill;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  z-index: 1;
}
