@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.blk-Contact {
  @include spacer_small;
  @include restrain_width;
  position: relative;
}

.blk-Contact_Content {
  text-align: center;
}

h4.blk-Contact_Heading {
  margin-bottom: #{$grid-gap * 2};
  display: none;
}

.blk-Contact_Text {
  margin-bottom: #{$grid-gap * 2};
}

.blk-Contact_Items,
.rte-RichText .blk-Contact_Items {
  margin: 0;
}

.blk-Contact_Item {
  position: relative;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    opacity: 0.3;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
