@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.cst-Stats {
  position: relative;
  width: 100%;
  margin: #{$grid-gap * 3} auto;

  @include break-min($lg) {
    @include ignore-restrained-width;
    width: calc(100vw - #{$gutter * 2});
  }
}

.cst-Stats_Body {
  @include break-min($lg) {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    padding-bottom: #{$grid-gap * 3};
    max-width: calc((2 / 12) * 100%);
  }
}

.cst-Stats_Items,
.rte-RichText .cst-Stats_Items,
.editor-block-list__layout .rte-RichText .cst-Stats_Items {
  @include no_margin_padding;
  @include break-min($xs) {
    display: flex;
    margin-right: -#{$grid-gap};
  }
  @include break-min($lg) {
    display: block;
  }
}

.cst-Stats_Item,
.rte-RichText .cst-Stats_Item,
.editor-block-list__layout .rte-RichText .cst-Stats_Item {
  @include no_bullets;
  margin-bottom: #{$grid-gap * 2};

  @include break-min($xs) {
    width: calc(50% - #{$grid-gap});
    flex: 0 0 calc(50% - #{$grid-gap});
    margin-right: $grid-gap;
    margin-bottom: 0;
  }

  @include break-min($lg) {
    margin-bottom: #{$grid-gap * 2};
    width: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h5.cst-Stats_Heading,
.editor-block-list__layout h5.cst-Stats_Heading {
  max-width: 220px;
  margin: 0 0 $grid-gap;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  color: $color-grey-text;
}

p.cst-Stats_Text,
.editor-block-list__layout p.cst-Stats_Text {
  max-width: 220px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  color: $color-grey-text;
}
