@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.blk-Stats {
  @include spacer_body;
}

.blk-Stats_Columns {
  padding-top: 25px;
  padding-bottom: 25px;

  @include break-min($xs) {
    display: flex;
    margin-right: -#{$grid-gap};
    padding-top: 0;
    padding-bottom: 0;
  }

  @include break-min($md) {
    margin-right: -60px;
  }
}

.blk-Stats_Column {
  margin-bottom: #{$grid-gap * 3};

  &:last-child {
    margin-bottom: 0;
  }

  @include break-min($xs) {
    flex: 0 0 calc(((4 / 12) * 100%) - #{$grid-gap});
    margin-right: $grid-gap;
    margin-bottom: 0;
  }

  @include break-min($md) {
    flex: 0 0 calc(((4 / 12) * 100%) - 60px);
    margin-right: 60px;
  }
}

.blk-Stats_ImageWrap {
  position: relative;
  padding-bottom: calc((4 / 12) * 100%);
  margin-right: auto;
  margin-bottom: $grid-gap;
  margin-left: auto;
  display: none;
  max-width: 150px;

  @include break-min($xs) {
    display: block;
  }
  @include break-min($sm) {
    padding-bottom: calc((6 / 12) * 100%);
  }
}

.blk-Stats_Image {
  @include absolute_fill;
  @include object_fit_contain;
}

.blk-Stats_Content {
  text-align: center;
  color: #fff;
  padding-right: $grid-gap;
  padding-left: $grid-gap;
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;

  & *:last-child {
    margin-bottom: 0;
  }
}

h3.blk-Stats_Heading {
  font-size: 28px;
  font-weight: 600;
  color: currentColor;
  margin-bottom: 5px;

  @include break-min($xs) {
    font-size: 20px;
  }
  @include break-min($sm) {
    font-size: 28px;
  }
}

.blk-Stats_Text {
  font-size: 14px;
}
