@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.blk-Partners {
  @include spacer_body_small;
  background-color: $color-light-grey;
}

.blk-Partners_Inner {
  @include inner;
}

.blk-Partners_Header {
  @include section_header;
}

h3.blk-Partners_Title {
  @include section_title;
}

.blk-Partners_Body {
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
}

ul.blk-Partners_Items,
.editor-block-list__layout ul.blk-Partners_Items {
  @include no_margin_padding;
  display: flex;
  flex-wrap: wrap;
  margin-right: -#{$grid-gap};
  margin-bottom: -#{$grid-gap};
}

li.blk-Partners_Item,
.editor-block-list__layout li.blk-Partners_Item {
  width: calc(((4 / 12) * 100%) - #{$grid-gap});
  flex: 0 0 calc(((4 / 12) * 100%) - #{$grid-gap});
  margin-bottom: $grid-gap;
  list-style: none;
  background-color: #fff;
  margin-right: $grid-gap;
  border: 1px solid $color-border;
}

.blk-Partner,
.editor-block-list__layout .blk-Partner {
  position: relative;
  padding-bottom: calc((5 / 12) * 100%);

  @include break-min($sm) {
    padding-bottom: calc((4 / 12) * 100%);
  }

  img {
    @include absolute_fill;
    object-fit: contain;
    font-family: 'object-fit: contain;';
    z-index: 1;
  }
}

a.blk-Partner_FauxLink,
.editor-block-list__layout a.blk-Partner_FauxLink {
  @include absolute_fill;
  z-index: 2;
  font-size: 0;
}

.blk-Partners_Footer {
  text-align: center;
  margin-top: $grid-gap * 2;
}

a.blk-Partners_Link,
.editor-block-list__layout a.blk-Partners_Link {
  text-decoration: none;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: currentColor;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease, visibility .5s ease;
  }

  &:hover::before {
    opacity: 1;
    visibility: visible;
  }
}
