@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.abt-Gorillas {
  @include restrain_width;
}

h3.abt-Gorillas_Title {
  font-size: 22px;
  margin-top: $grid-gap;
}

.abt-Gorillas_Images {
  @include spacer_small;
}

.abt-Gorillas_Images-flex {
  @include ignore_restrained_width;

  @include break-min($xs) {
    display: flex;
  }
}

.abt-Gorillas_Image {
  .abt-Gorillas_Images-flex & {
    &:first-child {
      margin-bottom: $grid-gap;
    }

    @include break-min($xs) {
      width: calc(((6 / 12) * 100%) - 2.5px);
      flex: 0 0 calc(((6 / 12) * 100%) - 2.5px);

      &:first-child {
        margin-right: 5px;
        margin-bottom: 0;
      }
    }
  }
}

.abt-Gorillas_ImageWrap {
  position: relative;
  padding-bottom: calc((40 / 57) * 100%);

  img {
    @include absolute_fill;
    @include object-fit-cover;
  }

  .abt-Gorillas_Images-flex & {
    padding-bottom: calc((10 / 14.25) * 100%);
  }
}


.abt-Gorillas_Quote {
  @include spacer;
}

p.abt-Gorillas_QuoteText {
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 0;
}
