@import "../../inc/scss/utilities/variables";
@import "../../inc/scss/utilities/mixins";

.blk-PictureLinks_Header {
  @include section_header_large;
}

h3.blk-PictureLinks_Title {
  @include section_title;
}

.blk-PictureLinks_Items {
  @include no_margin_padding;
  display: flex;
  flex-wrap: wrap;
  margin-right: -#{$grid-gap};
  margin-bottom: -#{$grid-gap * 3};

  @include break-min($xs) {
    margin-bottom: 0;
  }
  @include break-min(1024px) {
    margin-right: -80px;
  }
}

.blk-PictureLinks_Item {
  @include no_bullets;
  width: calc(50% - #{$grid-gap});
  flex: 1 1 calc(50% - #{$grid-gap});
  margin-right: #{$grid-gap};
  margin-bottom: #{$grid-gap * 3};

  @include break-min($xs) {
    width: calc(25% - #{$grid-gap});
    flex: 1 1 calc(25% - #{$grid-gap});
    margin-bottom: 0;
  }

  @include break-min(1024px) {
    width: calc(25% - 80px);
    flex: 1 1 calc(25% - 80px);
    margin-right: 80px;
  }
}

.blk-PictureLink {
  position: relative;
}

.blk-PictureLink_Body,
.editor-block-list__layout .blk-PictureLink_Body {
  position: relative;
  padding-bottom: 100%;
}

.blk-PictureLink_ImageWrap,
.editor-block-list__layout .blk-PictureLink_ImageWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 88%;
  height: 88%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}

.blk-PictureLink_Image,
.editor-block-list__layout .blk-PictureLink_Image {
  // @include absolute_fill;
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  transition: transform .5s ease;
  will-change: transform;

  .blk-PictureLink_FauxLink:hover + .blk-PictureLink_Body & {
    transform: scale(1.025);
  }
}

.blk-PictureLink_Mask,
.editor-block-list__layout .blk-PictureLink_Mask {
  @include absolute_fill;
  z-index: 2;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

.blk-PictureLink_Footer {
  text-align: center;
}

h4.blk-PictureLink_Title {
  margin-top: #{$grid-gap * 2};
  margin-bottom: 0;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: currentColor;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
  }

  .blk-PictureLink_FauxLink:hover ~ .blk-PictureLink_Footer & {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

a.blk-PictureLink_FauxLink,
.editor-block-list__layout a.blk-PictureLink_FauxLink {
  @include absolute_fill;
  z-index: 3;
  font-size: 0;
}
