.ent-Excerpt {
  position: relative;
  margin-bottom: #{$grid-gap * 3};

  @include break-min($sm) {
    margin-bottom: 55px;
  }
}

.ent-Excerpt_Body {
  .lyt-Primary-restrained & {
    @include restrain_width;
    max-width: #{$restrained-width + $grid-gap + 200px};
  }
}

.ent-Excerpt_Columns {
  @include break-min($sm) {
    display: flex;
  }
}

.ent-Excerpt_Column {
  &:first-child {
    @include break-min($sm) {
      flex: 0 0 150px;
      margin-right: $grid-gap;
    }
    @include break-min($lg) {
      flex: 0 0 200px;
    }
  }
  &:last-child {
    @include break-min($sm) {
      flex: 1 1 auto;
    }
  }
}

.ent-Excerpt_Thumbnail {
  position: relative;
  padding-bottom: 100%;
  display: none;

  @include break-min($sm) {
    display: block;
  }

  img {
    @include absolute_fill;
    @include object-fit-cover;
  }
}

h2.ent-Excerpt_Title {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 5px;

  @include break-min($sm) {
    margin-bottom: $grid-gap;
  }

  a {
    text-decoration: none;
  }
}

p.ent-Excerpt_Details {
  font-size: 14px;
  text-align: center;
  margin-bottom: #{$grid-gap / 2};

  .ent-Excerpt-search & {
    text-align: left;
    color: $color-grey-text;
  }
}

.ent-Excerpt_Content {
  margin-top: $grid-gap;
  margin-bottom: $grid-gap;
  line-height: 1.5;
}

a.ent-Excerpt_Link {
  display: block;
  margin-top: #{$grid-gap / 2};
}

a.ent-Excerpt_FauxLink {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
