.pge-Hero {
  position: relative;
  margin-left: $grid-gap;
  margin-right: $grid-gap;
}

.pge-Hero_Inner {
  @include inner;
  position: relative;
  z-index: 3;
}

.pge-Hero_Body {
  @include spacer_body;
}

.pge-Hero_Content {
  text-align: center;
  max-width: calc((6 / 12) * 100%);
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2.pge-Hero_Title {
  color: #fff;

  &:only-child {
    margin-bottom: 0;
  }
}

p.pge-Hero_Text {
  color: #fff;
}

.pge-Hero_Link {
  @include button_accent;
}

.pge-Hero_Overlay {
  @include absolute_fill;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.pge-Hero_BackgroundImage {
  @include absolute_fill;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  z-index: 1;
}
