.pge-Hero {
  position: relative;
  margin-left: #{$grid-gap / 2};
  margin-right: #{$grid-gap / 2};
  background-image: url('../img/pattern-bg-green.png');

  @include break-min($sm) {
    margin-left: $grid-gap;
    margin-right: $grid-gap;
  }
}

.pge-Hero_Inner {
  @include inner;
  position: relative;
  z-index: 3;
  background-color: rgba(0,0,0,0.3);

  @include break-min($sm) {
    background-color: transparent;
  }
}

.pge-Hero_Body {
  @include spacer_body_small;
}

.pge-Hero_Content {
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  @include break-min($sm) {
    max-width: calc((8 / 12) * 100%);
  }

  @include break-min($md) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @include break-min($lg) {
    max-width: calc((6 / 12) * 100%);
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

h2.pge-Hero_Title {
  color: #fff;

  &:only-child {
    margin-bottom: 0;
  }
}

p.pge-Hero_Text {
  color: #fff;
}

.pge-Hero_Link {
  @include button_accent;
}

.pge-Hero_Overlay {
  display: none;
  @include absolute_fill;
  background-color: $color-secondary;
  z-index: 2;

  @include break-min($sm) {
    display: block;
  }
}

.pge-Hero_BackgroundImage {
  padding-bottom: 50%;
  position: relative;

  img {
    @include absolute_fill;
    @include object-fit-cover;
    z-index: 1;
  }

  @include break-min($sm) {
    padding-bottom: 0;
    position: static;
  }
}
