.her-Page {
  position: relative;
  margin-left: #{$grid-gap / 2};
  margin-right: #{$grid-gap / 2};
  background-image: url('../img/pattern-bg-green.png');

  @include break-min($sm) {
    margin-left: $grid-gap;
    margin-right: $grid-gap;
  }
}

.her-Page_Inner {
  @include inner_padding;
  position: relative;
  z-index: 3;
  background-color: rgba(0,0,0,0.3);

  @include break-min($sm) {
    background-color: transparent;
  }
}

.her-Page_Body {
  @include spacer_body_small;
}

.her-Page_Content {
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  *:last-child {
    margin-bottom: 0;
  }

  @include break-min($xs) {
    max-width: calc((8 / 12) * 100%);
  }

  @include break-min($md) {
    max-width: calc((6 / 12) * 100%);
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @include break-min($lg) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

h2.her-Page_Title {
  color: #fff;

  &:only-child {
    margin-bottom: 0;
  }
}

p.her-Page_Text {
  color: #fff;
}

ul.her-Page_Items {
  @include no-margin-padding;
  display: flex;
  justify-content: center;
  margin-right: -#{$grid-gap};
}

li.her-Page_Item {
  @include no_bullets;
  margin-right: $grid-gap;
  width: calc((6 / 12) * 100%);
  flex: 0 1 calc((6 / 12) * 100%);

  @include break-min($sm) {
    width: calc((2 / 6) * 100%);
    flex: 0 1 calc((2 / 6) * 100%);
    max-width: 150px;

    &:first-child {
      margin-left: auto !important;
    }

    &:last-child {
      margin-right: auto !important;
    }

    &:only-child {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}

a.her-Page_Link {
  @include button_accent;
  display: block;
  width: 100%;
  margin: 0 !important;

  &.her-Page_Link-secondary {
    @include button_primary;
    display: block;

    &:hover {
      color: #fff !important;
      border-color: $color-primary-light !important;
      background-color: $color-primary-light !important;
    }
  }
}


.her-Page_Overlay {
  display: none;
  @include absolute_fill;
  background-color: $color-secondary;
  z-index: 2;

  @include break-min($sm) {
    display: block;
  }
}

.her-Page_BackgroundImage {
  padding-bottom: 50%;
  position: relative;

  img {
    @include absolute_fill;
    @include object_fit_cover;
    z-index: 1;
  }

  @include break-min($sm) {
    padding-bottom: 0;
    position: static;
  }
}
