.her-Post {
  position: relative;
  margin-left: $grid-gap;
  margin-right: $grid-gap;
  padding-bottom: calc((5 / 14) * 100%);

  @include break-min($sm) {
    padding-bottom: calc((3 / 14) * 100%);
  }
}

.her-Post_BackgroundImage {
  @include absolute_fill;
  @include object_fit_cover;
  z-index: 1;
}
