.pst-Hero {
  @include spacer;
  position: relative;
  margin-left: $grid-gap;
  margin-right: $grid-gap;
}

.pst-Hero_BackgroundImage {
  @include absolute_fill;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  z-index: 1;
}
