.ft-Widgets_Items {
  display: flex;
  flex-direction: column;
  @include break-min($md) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.ft-Widgets_Item {
  width: 100%;

  &.ft-Widgets_Item-widget_nav_menu {
    margin-top: $grid-gap;
    order: 2;

    @include break-min($md) {
      margin-top: 0;
      order: initial;
    }
  }

  &.ft-Widgets_Item-widget_custom_post_widget {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    order: 1;

    @include break-min($md) {
      padding-bottom: $grid-gap;
      order: initial;
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include break-min($md) {
    position: relative;
    margin-bottom: $grid-gap;
    align-self: stretch;

    &:first-child,
    &:nth-child(2) {
      border-bottom: 1px solid rgba(255,255,255,0.1);
      padding-bottom: $grid-gap;
    }

    &:nth-child(odd) {
      flex: 0 0 calc((4 / 12) * 100%);
      width: calc((4 / 12) * 100%);
    }
    &:nth-child(even) {
      flex: 0 0 calc((8 / 12) * 100%);
      width: calc((8 / 12) * 100%);
    }
    &:last-child {
      margin-bottom: $grid-gap;
    }
  }
}

h3.ft-Widget_Title {
  display: none;
}

.ft-Widget {
  margin-bottom: $grid-gap;

  .ft-Widgets_Item-widget_media_image & {
    display: none;
    width: 100%;
    max-width: 150px;

    img {
        opacity: 0.5;
    }

    @include break-min($md) {
        display: block;
    }
  }

  .ft-Widgets_Item-widget_text & {
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    display: none;

    p {
      margin-bottom: 0;
    }

    @include break-min($md) {
      display: block;
    }
  }

  .ft-Widgets_Item-widget_nav_menu & {
    margin-bottom: -#{$grid-gap};

    @include break-min($md) {
      margin-bottom: $grid-gap;
    }
  }
}

.ft-Widget_LinkItems {
  margin: 0;
  text-align: center;

  @include break-min($md) {
    text-align: left;
  }
}

.ft-Widget_LinkItem {
  font-size: 14px;
  list-style: none;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

a.ft-Widget_Link {
  text-decoration: none;
}
